body {
  padding: 20px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

#date-selector {
  margin-bottom: 10px;
}

.field {
  padding: 5px;
  display: inline-block;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: #032594;
  background-color: #eeeded;
  font-size: 20px;
  letter-spacing: 0.06em;
  font-weight: 500;
  border: 1.5px solid #000000;
  border-radius: 10px;
}

.value {
  color: #ff0000;
  font-size: 25px;
  font-weight: 900;
}
